*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heading{
    text-align: center;
    margin:1em;
    font-size: 2.4em;
}
.sidehead{
   float: right;
    border: 1px solid black;
    margin-right: -13px;
    position: sticky;
}
.sidehead{
    background-color: rgb(159, 205, 207);
    font-size: 1.6em;
}

.content{
    border:1px solid black;
    margin: 0.5rem;
    background-color: darkgrey;
}
.detail{
    margin-top:3em;
    font-size: 0.8em;
}